.content{
    .container {
        margin-top: 40px;
        max-width: 500px;
        max-height: fit-content;
        padding: 20px;
    }
    .title {
        margin-bottom: 10px;
    }
    .subtitle {
        
    }
}